article {
    padding-bottom: 70px;
}


article h1,
article h2,
article h3,
article h4,
article p,
article ol,
article ul,
article blockquote {
    width: 700px;
    margin: auto;
    color: black;
}

article img {
    width: 1200px;
    margin: 80px auto;
    display: block;
}

article b {
    width: 700px;
    font-weight: 700;
}

article i {
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans Caption', sans-serif;
    font-weight: 700;
}

article p {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 34px;
}

article a {
    color: inherit;
}


nav a {
    text-decoration: none;
}

article h1 {
    font-size: 40px;
    line-height: 46px;
    margin-top: 64px;
}

article h1+p {
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: 14px;
    margin-bottom: 30px;
}

article h2 {
    font-size: 32px;
    line-height: 36px;
    margin: 43px auto 7px;
}

article h1+h2 {
    margin-top: 30px;
}

article img+h2 {
    margin-top: 0px;
}

article p+p {
    margin-top: 29px;
}

article h3 {
    font-size: 28px;
    line-height: 34px;
    margin: 35px auto 7px;
}

article blockquote {
    position: relative;
    font-style: italic;
    font-size: 22px;
    line-height: 34px;
    margin: 29px auto;
}

article blockquote::before {
    content: "";
    display: block;
    position: absolute;
    width: 3px;
    height: 100%;
    background: black;
    margin-left: -20px;
}

article h4 {
    font-size: 24px;
    line-height: 30px;
    margin: 33px auto 7px;
}

article ul {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 34px;

    padding-left: 30px;
    width: 670px;
}

article ol {
    font-family: 'PT Sans', sans-serif;
    font-size: 22px;
    line-height: 34px;
    margin: 29px auto;
}

article li+li {
    margin-top: 17px;
}

article h2+h3 {
    margin-top: 37px;
}

article ul li {
    list-style: disc;
}

article ol li {
    list-style: decimal;
    margin-left: 20px;
    width: 680px;
}

@media (max-width: 1024px) {
    article img {
        width: 100%;
    }

    ;
}

@media (max-width: 767px) {

    article h1,
    article h2,
    article h3,
    article h4,
    article p,
    article ol,
    article ul,
    article blockquote {
        width: calc(100% - 20px);
    }

    article ol li {

        width: calc(100% - 40px);
    }
}